################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/*
/Backend/packages/*
/Backend/Backend/bin/*
/Backend/Backend/obj/*
*.user
*.suo
/html5client/.idea/*
/html5client/bower_components/*
/html5client/node_modules/*
/html5client/build/*
