@using Backend.Controllers

<div class="jumbotron">
    <h1>Zeiterfassungs Backend</h1>
    <h3>Current Deployed Version: @(typeof(HomeController).Assembly.GetName().Version.ToString())</h3>
    <p class="lead">Semesterarbeit CAS HTML5 FS 2015</p>
</div>
