<div class="container-fluid" ng-controller="ProjectController" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Projekte und Tasks verwalten
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-danger" role="alert" ng-show="showFailureAtTopOfPage">{{errorMessage}}</div>
        <div class="alert alert-success" role="alert" ng-show="showSuccessAtTopOfPage">{{successMeassage}}
        </div>
    </div>

    <div id="projectSpinnerRow" class="row" ng-show="showSpinner">
        <div class="col-lg-1 col-lg-offset-6">
            <div id="projectViewSpinner" class="whirly-loader">
                Loading…
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x">Projekt erfassen</i>
                        </div>
                        <div class="col-xs-9 text-left">
                            <p>
                                <label>Projektname</label>
                                <input type="text" required class="form-control" ng-model="projectname"/>
                            </p>

                            <p>
                                <button class="btn btn-success" ng-click="addProject()">Add</button>
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="projectNameInvalid">Der Projektname darf nicht
                        leer sein
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="projectInserted">Das Projekt wurde
                        erfolgreich hinzugefügt
                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x">Tasks für ein Projekt erfassen</i>
                        </div>
                        <div class="col-xs-9 text-left">
                            <p>
                                <label>Projekt</label>

                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true">
                                    {{dropdownDisplay}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="project in projects">
                                        <a href="" ng-click="dropDownSelected(project.Id, project.Name)">{{project.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                <label>Taskname</label>
                                <input type="text" class="form-control" ng-model="taskname">
                            </p>

                            <p>
                                <button class="btn btn-success" ng-click="insertTask()">Add Task</button>
                            </p>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="tasknameInvalid">Der Taskname darf nicht leer
                        sein
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="noProjectSelected">Bitte wähle ein Projekt
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="taskInserted">Der Task wurde erfolgreich
                        hinzugefügt
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <p class="panel-title pull-left">Projekte</p>

                    <p>
                        <button class="btn btn-warning pull-right" ng-show="changesDetected"
                                ng-click="saveAllProjects()">Speichern
                        </button>
                    </p>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tätigkeiten</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="project in projects">
                        <td>
                            <input type="text" class="form-control" ng-model="project.Name" ng-change="inputChanged()"/>
                        </td>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="task in project.Tasks">
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" ng-model="task.Name"
                                               ng-change="inputChanged()"/>
                                    </div>
                                    <div>
                                        <a data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"
                                           ng-click="deleteTask(task)"><i class="glyphicon glyphicon-trash"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- TODO kk: Noch ausbauen unobstrusive JavaScript -->
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });

    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });

</script>