<!-- TODO kk: CSS noch richtig einbinden -->
<!--
<head>
    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Custom CSS
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
-->

<div id="wrapper" ng-controller="StatisticsController as sc">
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Meine Erfassungen
                        <small>Statistiken und Übersicht</small>
                    </h1>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Meine Erfassungen</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Datum</th>
                                    <th>Anzahl Stunden</th>
                                    <th>Tätigkeiten</th>
                                    <th>Projekt</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="timerecord in sc.timerecords">
                                    <td>{{ timerecord.date }}</td>
                                    <td>{{ timerecord.hours }}</td>
                                    <td>{{ timerecord.task }}</td>
                                    <td>{{ timerecord.project }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <!--<a ng-click="showallrecords()">Zeige alle Erfassungen <i class="fa fa-arrow-circle-right"></i></a>-->
                            <button class="btn btn-info" ng-click="sc.showallrecords()">Zeige alle Erfassungen</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9 text-left">
                                    <div>Aktueller Saldo</div>
                                    <div class="huge">26</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <h1>Arbeit an Tasks</h1>

                        <div id="chartcontainer">
                            <div id="chart"/>
                            <div class="tooltipBox panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="text-left">
                                            <ul>
                                                <li id="labelLabel"></li>
                                                <li id="countLabel"></li>
                                                <li id="percentLabel"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
